/* Swiper container */
.heroSwiper {
  width: 100%;
  height: 100%;
}

/* Each slide wrapper */
.slide-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Image styling */
.slide-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #c9a24d; /* golden */
  width: 44px;
  height: 44px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: bold;
}

/* Hide arrows on mobile */
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
